.pp
{
 border: 1px solid black;
 height: 68px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.ab1{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab2{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab3{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab4{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab{
    position: relative;
    bottom: 30px;
  }
  .mj{
    position: relative;
    top:100px;
    right:110px;
  }
  .msg{
    position: relative;
    bottom: 170px;;
    font-size: medium;
    left:20px;
  }
  .text-justify{
    position: relative;
    bottom:150px;
    left:280px;
  }
  .text {
  position: relative;
  right:240px;
  }
  .text-1{
    position: relative;
    right:240px;
  }
  .text-2{
    position: relative;
    right:240px;
  }
  .text-3{
    position: relative;
    right:240px;
  }
  .about{
    position: relative;
    bottom: 160px;
    left:140px;
  }
  .help{
    position: relative;
    left:400px;
    bottom:140px;
  }
  .quick
  {
    position: relative;
    left:580px;
    bottom:280px;
  }
  .social{
    position: relative;
    left:800px;
    bottom:400px;
  }