.mat-stepper-horizontal {
    margin-top: 8px;
    width:800px;
    position: relative;
    left:150px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    width:591px
  }
  * {box-sizing: border-box;}

