 
<app-header></app-header>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      
        <ng-template matStepLabel>1</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Profile Created By *</mat-label>
            <mat-select [(ngModel)]="ProfileCreatedBy" 
            #clientValue (selectionChange)="changeClient($event.value)">
              <mat-option *ngFor="let pf of profilefor" [value]="pf.name" >
                {{pf.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>First Name </mat-label>
          <input matInput placeholder="Enter firstname" [(ngModel)]="firstname" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sur Name  </mat-label>
            <input matInput placeholder="Enter surname" [(ngModel)]="surname" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Gender *</mat-label>
            <mat-select [(ngModel)]="Gender " #foodValue (selectionChange)="changeGen($event.value)">
              <mat-option *ngFor="let gen of gender" [value]="gen.name"  required>
                {{gen.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email </mat-label>
            <input matInput placeholder="Enter Email"  [(ngModel)]="email" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password  </mat-label>
            <input matInput placeholder="Enter Password"  [(ngModel)]="password" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mobile </mat-label>
            <input matInput placeholder="Enter Mobile" [(ngModel)]="mobileno" required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age*</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="age">
            
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Maritial Status *</mat-label>
            <mat-select [(ngModel)]="MaritialStatus" #statusValue (selectionChange)="changeStatus($event.value)">
              <mat-option *ngFor="let ms of mstatus" [value]="ms.name"  required>
                {{ms.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sub Caste*</mat-label>
            <mat-select [(ngModel)]="Subcaste " #casteValue (selectionChange)="changeCaste($event.value)">
              <mat-option *ngFor="let sc of caste" [value]="sc.name"  required>
                {{sc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Food Type*</mat-label>
            <mat-select [(ngModel)]="FoodType " #foodValue (selectionChange)="changeFood($event.value)">
              <mat-option *ngFor="let fc of foodtype" [value]="fc.name"  required>
                {{fc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mother Tongue*</mat-label>
            <mat-select [(ngModel)]="Mothertonge " #mtValue (selectionChange)="changeMt($event.value)">
              <mat-option *ngFor="let mt of mothertonge" [value]="mt.name"  required>
                {{mt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country living in*</mat-label>
            <mat-select  [(ngModel)]="Countrylivingin " #countryValue (selectionChange)="changeCountry($event.value)">
              <mat-option *ngFor="let cl of countrylivingin" [value]="cl.name"  required>
                {{cl.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      
    </mat-step>
    <mat-step>
        
          <ng-template matStepLabel>2</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Time of Birth </mat-label>
            <input matInput placeholder="00.00" [(ngModel)]="Birth" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Place of Birth </mat-label>
            <input matInput placeholder="Enter Place of Birth" [(ngModel)]="placebirth" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Star *</mat-label>
            <mat-select [(ngModel)]="Star " #starValue (selectionChange)="changeStar($event.value)">
              <mat-option *ngFor="let st of star" [value]="st.name">
                {{st.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          <mat-form-field appearance="fill">
            <mat-label>Padam  </mat-label>
            <input matInput placeholder="Enter Padam" [(ngModel)]="Padam " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rasi *</mat-label>
            <mat-select [(ngModel)]="Rasi " #rasiValue (selectionChange)="changeRasi($event.value)">
              <mat-option *ngFor="let rs of rasi" [value]="rs.name">
                {{rs.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Kuja Dosam  </mat-label>
            <input matInput placeholder="Enter Kuja Dosam"  [(ngModel)]="KujaDosam " required>
          </mat-form-field>
         
          <mat-form-field appearance="fill">
            <mat-label>Gothram  </mat-label>
            <input matInput placeholder="Enter Gothram" [(ngModel)]="Gothram " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Height *</mat-label>
            <mat-select [(ngModel)]="Height " #heightValue (selectionChange)="changeHeight($event.value)">
              <mat-option *ngFor="let hi of height" [value]="hi.name">
                {{hi.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Weight </mat-label>
            <input matInput placeholder="Enter Weight" [(ngModel)]="weight " required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Complexion *</mat-label>
            <mat-select [(ngModel)]="Complexion " #complexionValue (selectionChange)="changeComplexion($event.value)">
              <mat-option *ngFor="let comp of cmp" [value]="comp.name">
                {{comp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Education </mat-label>
            <input matInput placeholder="Enter Education" [(ngModel)]="Education " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Occupation </mat-label>
            <input matInput placeholder="Enter Occupation" [(ngModel)]="Occupation " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Working In</mat-label>
            <input matInput placeholder="Enter Working In" [(ngModel)]="working " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Salary Per Annum </mat-label>
            <input matInput placeholder="Enter Salary Per Annum" [(ngModel)]="salary " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ancestral Origin </mat-label>
            <input matInput placeholder="Enter Ancestral Origin" [(ngModel)]="Ancestralorigin " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Father's Name </mat-label>
            <input matInput placeholder="Enter Father's Name" [(ngModel)]= "FathersName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Father's Occupation  </mat-label>
            <input matInput placeholder="Enter Father's Occupation" [(ngModel)]="fatherocc " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mother's Name  </mat-label>
            <input matInput placeholder="Enter fMother's Name" [(ngModel)]="MothersName  " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mother's Occupation </mat-label>
            <input matInput placeholder="Enter fMother's Name" [(ngModel)]="motherocc " required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Brothers</mat-label>
            <mat-select [(ngModel)]="brothers" >
              <mat-option *ngFor="let bro of brothers" [value]="bro">
                {{bro.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Adresss </mat-label>
    <input matInput placeholder="Enter Adresss" [(ngModel)]="Adress " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Village </mat-label>
    <input matInput placeholder="Enter Village" [(ngModel)]="Villege " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>City </mat-label>
    <input matInput placeholder="Enter city" [(ngModel)]="City " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>State *</mat-label>
    <mat-select  [(ngModel)]="State"  #stateValue (selectionChange)="changeState($event.value)" >
      <mat-option *ngFor="let ste of state" [value]="ste.name">
        {{ste.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country *</mat-label>
    <mat-select  [(ngModel)]="Country"  #ctryValue (selectionChange)="changeCtry($event.value)">
      <mat-option *ngFor="let ctry of country" [value]="ctry.name">
        {{ctry.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Reference </mat-label>
    <input matInput placeholder="" [(ngModel)]="Reference " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Alternate Mobile  </mat-label>
    <input matInput placeholder="Enter Alternate Mobile" [(ngModel)]="Alternatemobile " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Family Details </mat-label>
    <input matInput placeholder="" [(ngModel)]="Familydetails " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Property Details </mat-label>
    <input matInput placeholder="Enter Family Details" [(ngModel)]="Property " required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Partner Preference </mat-label>
    <input matInput placeholder="Enter artner Preference" [(ngModel)]="Partnerpreference " required>
  </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="register()">Submit</button>
          </div>
       
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>3</ng-template>
      
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
      


         
   



   
