.user
{
 border: 1px solid black;
 height: 1500px;
 width:1500px;
 
}
.pp
{
 border: 1px solid black;
 height: 65px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.menu
{
  position: relative;
  left:10px;
  

}
.vks
{
  position: relative;
  left:90px;
  top:0px;
}
.sharing{
    position: relative;
    left:700px;
    bottom: 250px;
}
.form{  
  position: relative;
  left:40px;
  top:20px;
  
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.c2
{
  position: relative;
  left:15px;
}
.c3
{
  position: relative;
  left:30px;
}
.c4
{
  position: relative;
  left:45px;
}
.c5
{
  position: relative;
  left:60px;
}
.about{
  position: relative;
  left:40px;
}
.help
{
  position: relative;
  left: 400px;
  bottom:130px;
}
.quick
{
  position: relative;
  left:600px;
  bottom:270px;
}
.social
{
  position: relative;
  left:800px;
  bottom:390px;
}


.example-full-width {
  width: 560px;
}
.ab1{
  position: relative;
  left:-50px;
  bottom:10px;
}
.ab2{
  position: relative;
  left:-50px;
  bottom:10px;
}
.ab3{
  position: relative;
  left:-50px;
  bottom:10px;
}
.ab4{
  position: relative;
  left:-50px;
  bottom:10px;
}
.ab{
  position: relative;
  left:-50px;
  bottom:10px;

}
.log{
  position: relative;
  left:70px;
  top:30px;
}
.icon
{
    position: relative;
    top:-7px;
    left:10px;
    color: #ea5070;
}
.divider
{
    position: relative;
    top:-13px;
    left:19px;
}
.wel
{
    position: relative;
    top:-13px;
    left:37px;
}

md-toast.md-success-toast-theme {
  background-color: green;
}