<!-- <div class="ser">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; " class="icon" >Menu</button>
  <mat-menu #menu="matMenu" >
  
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>
    <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px;" class="img"/>
   
    <div class="ggg">
    <span>
      <a mat-button href="http://localhost:4200/index"   style="color:white" class="ab">About Us </a>
      <a mat-button href="http://localhost:4200/president"   class="ab1" style="color:white" >President Message</a>
      <a mat-button href="http://localhost:4200/service"   style="color:white" class="ab2">Services</a>
      <a mat-button href="http://localhost:4200/contact"    class="ab3" style="color:white">Contact Us</a>
      <a mat-button href="http://localhost:4200/login"    tyle="color:white" class="ab4">Login</a>
  </span></div>
  </div> -->
  <app-header></app-header>
  <div class="bord">
    <span class="con">Contact us</span><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.0519576803476!2d78.49058921428319!3d17.40929400675665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99ebddad8e53%3A0x870b2a2b92b54c6b!2sHimasai+Gulmohar+Apartments%2C+1-1-365A%2C+Chikkadpalli+Rd%2C+Jawahar+Nagar%2C+Kavadiguda%2C+Hyderabad%2C+Telangana+500020!5e0!3m2!1sen!2sin!4v1452582972004" 
    width="400" height="250" frameborder="0" style="border:0" allowfullscreen="" class="img">
    </iframe>
    <div class="col" style="margin-top:-10px;">
        <h5><strong>Registered Office</strong></h5>
        <b>Vishwakarma Foundation and Seva Trust </b><br>
        #1-1-365/A, Flat no. 302,<br> Himasai Gardens, Gulmohar Block,<br> Jawahar Nagar ,<br> Hyderabad - 500020
        <br>  <br>

        <h5><strong>Trust Offices</strong></h5>
           SRT 281, 2nd Floor <br>
           Sanathnagar<br>
           Hyderabad - 500018 <br><br>
           Kausalyam, #1-1-230/4 <br>
           Chikkadpally<br>
           Hyderabad - 500020<br><br>
        <h5><strong>Contact :</strong></h5>
        +91 9866861110<br> +91 9849225878<br>+91 9490932312<br>
        <br><br>
        <h5><strong>Email :</strong></h5>
        www.vishwakarmaallianceservices@gmail.com
        <br>
    </div>
  </div>
  <div class="about">
    <h3>About Us</h3>
    <p>
        "Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, <br>
         sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
         Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."
  
        </p>
     <div class="help">
        <h3>Help & Support</h3>
        <p>
            24x7 Live help<br>
            Contact us<br>
            Feedback<br>
            FAQs   
        </p>
     </div>    
  <div class="quick">
    <h3>Quick Links</h3>
   <p>Privacy Policy<br>
    Terms and Conditions<br>
    Services</p> 
  </div>
    
  <div class="social">
    <h3>Social</h3>
    <div class="col-md-2 col_2">
      
      <ul class="footer_social">
      <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
         target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
      <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
      <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
      <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
      </ul>
    </div>
      
  </div>
  </div>  
