<app-header1></app-header1>
<div>
<a href="/home"><mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon></a>&nbsp;
<span class="divider">&nbsp;|&nbsp;</span>
<span class="edit">
<span >My Profile</span>&nbsp;&nbsp;&nbsp;&nbsp;
<span  style="color:blue">Edit profile</span>&nbsp;
<span >&nbsp;|&nbsp;</span>
<span >&nbsp;|&nbsp;</span>&nbsp;
<span style="color:blue">Manage Photos</span>
<br>
<h1 class="h1">Profile id:&nbsp;VKMB4422</h1></span>
<br>
<span>
<img src="../../assets/m1.jpg" class="img">

<pre class="pre">
  Name: Kumari palla <br>
  Age:25<br>
  Height(cm):136cm<br>
  Mobile:7382923898<br>
  Email:kumari123@gmail.com<br>
  Maritical Status:UNMARRIED<br>
  Pofile Created By:PARENT<br>
  Subcaste:Turpu Kapu
</pre>
</span><br><br><br>
<ng-image-slider [images]="imgCollection" #nav class="slide" ></ng-image-slider><br><br>
<mat-tab-group style="position: relative;
bottom: 350px;"><br>
  <mat-tab label="About My Self">
    
    <h3 style="color:brown;" >Basics & Lifestyle</h3>
    <p class="detail">
      <span> name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Divya Kondapalli<br></span>
       Marital Status: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un Married<br>
       Height(cm): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  136cm<br>
       Profile Created By: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Parent
       <span class="basic1">
           &nbsp;Age:24<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       Mother Tongue:Telugu<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complexion: Whether</span>
   
   </p><br>
   <h3 style="color:brown;" >
    Social & Astro Background
  </h3>
  <p class="detail">
   Time Of Birth:2:00 <br>                 
   Date Of Birth:06-04-1998  <br>           
   Place Of Birth: Narsipatnam <br>
   <span style="position:relative;left:340px; bottom:60px;">
    Gothram:Piadipala<br>
    Sub Caste:Turpu Kapu<br>
        Rasi: Kanya<br>
        Star: Asta<br>
        Padam:2nd
   </span>
  </p>
                                  
<h3 style="color:brown;">
   Education & Carrer
 </h3>
 <p class="detail">
  Education: B-tech <br>                 
  Working:Software Enginear <br>           
  Occupation Detail : Occupation<br>
  Annual Income: 400000  
  </p> 
  </mat-tab>
  <mat-tab label="Family Details"> Content 2 </mat-tab>
  <mat-tab label="Partner Prefarences"> Content 3 </mat-tab>
</mat-tab-group>
</div><br>
<div class="similar">
<h1 style="color:brown">View Similar Profiles</h1><br>

<img src="../../assets/m2.jpg" style="height: 210px;width: 134px;">
<span class="vie-pr1">
<h2 style="color:brown">VKMB4478</h2>
<p>kavitha polina</p>
<a href="/"><p> view full profile</p></a>
</span>
<span style="position:relative;bottom:80px">
<img src="../../assets/m3.jpg" style="height: 210px;width: 134px;">
<span class="vie-pr1">
<h2 style="color:brown">VKMB44789</h2>
<p>vanisree vemavarapu</p>
<a href="/"><p> view full profile</p></a>
</span>
</span>

</div>