.h1
{
    position: relative;
    left:10px;
    top:20px;
    color: brown;
}
.img
{
    height: 363px;
    width:306px;
    position: relative;
    left:50px;
    top:10px;

}
.basic1{
    position: relative;
    bottom:60px;
    left:150px;
}
 .pre
 {
    position: relative;
    left: 393px;
    bottom: 375px;
 }
 .slide
 {
    width:100px;
   height: 100px;
   position: relative;
   bottom:350px;
   left:30px;
   
 }
 .icon
{
    position: relative;
    left: 56px;
    top: 15px;
    color: #ea5070;
}
.edit
{
    position: relative;
    top:10px;
    left:50px;
}
.divider
{
    position: relative;
    top:10px;
    left:45px;
}
.mat-tab-group {
    margin-bottom: 48px;

  }
 .similar
 {
    position: relative;
    bottom: 1666px;
    left: 968px;
}
 .vie-pr1{
    position: relative;
    left: 196px;
    bottom: 208px;

 }