
<div class="body">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-folder-open"></i>
          Docket
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-book" style="position: relative;
          left: 250px;">
            <span class="badge badge-warning" ></span>
          </i >
          <p style="position: relative;
          left: 250px; ">Case Details</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-th-large" style="position: relative;
          left: 500px;">
            <span class="badge badge-warning"></span>
          </i>
         <p style="position: relative;
         left: 500px;">Workbench</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-calendar-o" style="position: relative;
          left: 750px;" >
            <span class="badge badge-warning"></span>
          </i>
         <p style="position: relative;
         left: 750px;"> Schedule</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-user-circle-o" style="position: relative;
          left: 1000px;">
            <span class="badge badge-warning"></span>
          </i>
          <p style="position: relative;
          left: 1000px;">Profile</p>
        </a>
      </li>
      
    </ul>
    
  </div>
</nav>
</div>


