.user
{
 border: 1px solid black;
 height: 1500px;
 width:1500px;
 
}
.pp
{
 border: 1px solid black;
 height: 68px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.ab1{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab2{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab3{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab4{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab{
    position: relative;
    bottom: 30px;
  }
  .banner_info
  {
    position: relative;
    bottom: 600px;
    left:840px;
}
.reg{
    position: relative;
    left:10px;
    bottom:40px;
    color:brown;
}
.head
{
  text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
}
.heart-divider {
  height: 100%;
  width: 100%;
  margin: 2em auto;
  text-align: center;
}
.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  bottom:50px;
   right:40px;
  background: #c32143;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 10px 30px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
}
.h1{
  position: relative;
  bottom:20px;
  right:50px;
}
.about{
  position: relative;
  left:100px;
  bottom: 180px;
}
.help
{
  position: relative;
  left: 400px;
  bottom:130px;
}
.quick
{
  position: relative;
  left:600px;
  bottom:270px;
}
.social
{
  position: relative;
  left:800px;
  bottom:390px;
}
.product-item-content1 {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  position: relative;
  height: 200px;
  width: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  
  
}
.bg
{
  position: relative;
  left:40px;
}
.msg
{
  position: relative;
bottom:440px;
left:500px;
color: white;
}
.bg_left {
  background: #fff;
  padding: 2em;
  text-align: center;
  position: relative;
  left:100px;
  bottom: 400px;
  width: 400px;
}
.bg_left {
  background: #fff;
  padding: 2em;
  text-align: center;
  position: relative;
  left:130px;
  bottom: 400px;
  width: 400px;
  height: 170px;
}
.bg_left1 {
  background: #fff;
  padding: 2em;
  text-align: center;
  position: relative;
  left:480px;
  top:-190px;
  bottom: 500px;
  width: 400px;
}
.story
{
  position: relative;
  left:500px;
}
.news
{
  position: relative;
  left:900px;
}