.mat-stepper-horizontal {
    margin-top: 8px;
    width:500px;
    
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  /* .my
{
 border: 1px solid black;
 height: 3500px;
 width:1000px;
 
} */
.ok
{
 border: 1px solid black;
 height: 80px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.menu
{
  position: relative;
  left:10px;
  top:px;
  bottom: 10px;

}

    

.c2
{
  position: relative;
  left:15px;
}
.c3
{
  position: relative;
  left:30px;
}
.c4
{
  position: relative;
  left:45px;
}
.c5
{
  position: relative;
  left:60px;
}
.register{
  position: relative;
  height:1500px;
  width :1500px;
}
.l1
{
  position: relative;
  left:100px;
  top:30px;
}
.about{
  position: relative;
  left:px;
  top:20px;
}
.help
{
  position: relative;
  left: 400px;
  bottom:130px;
}
.quick
{
  position: relative;
  left:600px;
  bottom:270px;
}
.social
{
  position: relative;
  left:800px;
  bottom:390px;
}
/* .sharing{
  position: relative;
  left:700px;
  bottom: 800px;
} */
.example-full-width {
  width: 980px;
  position: relative;
  left:20px;
}
.gen{
  position: relative;
  left:20px;
}
.h12{
  position: relative;
  left:50px;
}
.sharing{
  position: relative;
  bottom:px;
  left:600px;
}
.ab1{
  position: relative;
  left:-50px;
  bottom:30px;
}
.ab2{
  position: relative;
  left:-50px;
  bottom:30px;
}
.ab3{
  position: relative;
  left:-50px;
  bottom:30px;
}
.ab4{
  position: relative;
  left:-50px;
  bottom:30px;
}
.ab{
  position: relative;
  left:-50px;
  bottom:30px;
}
.reg
{
 border: 1px solid black;
 height: 68px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.ggg{
  position: relative;
  left:800px;
  bottom: 40px;
  color:white;
}
.icon
{
    position: relative;
    top:50px;
    left:70px;
    color: #ea5070;
}
.divider
{
    position: relative;
    top:45px;
    left:70px;
}
.wel
{
    position: relative;
    top:45px;
    left:80px;
}
.start
{
  position: relative;
  bottom:40px;
  right: 40px;
}
/* .mat-form-field {
  margin-right: 12px;
} */
.date{
  position: relative;
  left:100px;
}
.example1
{
  position: relative;
  width:460px;
  left:20px;
}